{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container w-50 p-3 border rounded">
    <h1>List of breeds</h1>
    <br>
    <a
      href="{% url 'breed:breed_create' %}"
      class="btn btn-primary"
    >Add</a>
    <br>

    <table class="table border mt-1">
      <thead>
        <tr>
          <th scope="col" class="col-6">Breed name</th>
          <th scope="col" class="col-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
        <tr>
          <td>
              {% comment %} <a href="{% url 'breed:breed_detail' object.pk %}">{{ object }}</a>  {% endcomment %}
              <a href="{{ object.get_absolute_url }}">{{ object }}</a>
          </td>
          <td>
            <!-- update -->
            <a
              href="{% url 'breed:breed_update' object.pk %}"
              class="mr-5"
            >
              <span>
                <i class="fas fa-pen"></i>
              </span>
            </a>
     
            <!-- delete -->
            <a href="{% url 'breed:breed_delete' object.pk %}" class="ml-5">
              <span>
                <i class="fa fa-trash text-danger p-1"></i>
              </span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
        
    
{% endblock content %}