{% extends "base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

<div class="container p-3 border rounded">
    
    <h5>Breed Delete</h5>
    <hr>
    <div> 
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete <strong>"{{ object }}"</strong>?</p>
            {{ form }}
            <input class="btn btn-danger" type="submit" value="Confirm">
            <a
            href="{% url 'breed:breed_list' %}"
            class="btn btn-primary"
            >Back</a>
        </form>        
    </div>
    <br>

</div>

{% endblock content %}