<nav class="navbar navbar-expand-md navbar-light bg-success fixed-top fs-5">
    <a class="navbar-brand" href="{% url 'core:index' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/DNA_icon.svg/70px-DNA_icon.svg.png" class="img-fluid w-10 p-0"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="{% url 'core:index' %}"><strong>DSLeish</strong><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" href="" target="_blank"><strong>UFPI</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="" target="_blank"><strong>PPGTAIR</strong></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>API V1</strong>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/api/v1/documentos/">Documents</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/swagger/">Documents API</a>
          </div>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-white" href=""><strong>About</strong></a>
        </li>
    
        <li class="nav-item">
          <a class="nav-link text-white" href="{ url 'core:sobre' %}"><strong>Help</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{ url 'core:contatos' %}"><strong>Contacts</strong></a>
        </li>
  
      </ul>
    </div>
  </nav>